*
{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1, h2{font-family: 'Lato', sans-serif;}
h1{text-transform: uppercase;}

ul li {cursor: pointer;}
ul li:hover{color: #999999;}


.column
{
	float: left;
	width: 100%;
	padding: 3px 10px;
	margin: 5px;
	border: 1px #333 solid;
}


h2
{
	background: #eeeeee;
	padding: 3px 10px;
}